@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Geist";
  src: url('../../fonts/GeistVF.ttf') format('truetype'),
    url('../../fonts/GeistVF.woff') format('woff'),
    url('../../fonts/GeistVF.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
  background: var(--bodyColor) !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist";
  background-color: var(--bodyColor);
}

:root {
  --bodyColor: #fbfbf7;
  --primaryBodyColor: #002462;
  --buttonColor: #def2f9;
  --headingColor: #00526e;
  --fontColorMain: rgb(35, 136, 166);
  --fontColorSub: #fff;
  --mainHead: 56px;
  --subMainHead: 48px;
  --thirtySix: 36px;
  --thirtyTwo: 32px;
  --twentyFour: 24px;
  --tweenty: 20px;
  --eighteeen: 18px;
  --peraMain: 16px;
  --peraSubMain: 14px;
}

/* styles.css */


.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgb(237, 227, 227);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.my-intro-text h1{
  font-size: 13vw ;
  font-weight: 00;
  color: #333;
  line-height: 1.2;
}

.my-intro-text p{
  color: #808080;
}

/* button encryted */
.group {
  margin-top: 18px;
  
}


.full-screen-overlay-nav {
  position: relative;
}

.toggle-button {
  position: absolute;
  top: -92px;
  right: 2%;
  z-index: 4000;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.866);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none; /* Prevent clicks when closed */
  z-index: 3999;
}

.nav-overlay.open {
  opacity: 1;
  pointer-events: auto; /* Enable clicks when open */
}

.nav-overlay ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-overlay ul li {
  margin-bottom: 20px;
}

.nav-overlay ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.nav-overlay ul li a:hover {
  color: #ff5733;
}


.SplideSlide {
  height: 400px;
}


